/* CONTENIDO NO RESPONSIVE */
body{
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: inherit;
  height: inherit;
}

html{
  scroll-behavior: smooth;
  margin: none;
  padding: none;
}

h1{
  color: white;
  text-align: center;
}

h3{
  color: white;
  text-align: center;
}

.titulo{
  color: white;
  text-align: center;
}

p{
  color: white;
  text-align: justify;
}

.card-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.link_desc{
  align-self: center;
}

.cardtext {
  color: black;
  text-align: center;
  margin-bottom: 1%;
  margin-top: 1%;
}


.dark {
  color: black;
}

.imagen_principal{
  display: block;
  margin: auto;
  border-radius: 50%;
  border: 2px solid white;
}

#programas{
  display: none;
}

#contactame{
  display: none;
}

.imagenCard{
  border: solid 2px;
}

.card-body ul{
  margin-left: 40%;
}

/* css de la animacion de flip*/
/* NO FUNCIONA */

.flip-card{
  perspective: 1000px;
  background-color: transparent;
  position: relative;
}

.flip-card-inner{
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}


.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  z-index: 1;
}

.flip-card-back {
  transform: rotateY(180deg);
  z-index: 0;
}
/*FIN DEL SCRIPT*/


footer{
  background-color: #f5f5f5;
  color: black;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
  font-family: monospace;
}

/* FORMATO PARA ORDENADORES */
@media screen and (min-device-width:768px) { 

  h1{
    padding-top: 2%;
  }

  .titulo{
    padding-top: 2%;
  }

  p{
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
  }

  .cardtext {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
  }

  #div-img-principal{
    padding-top: 2%;
  }

  #contactame{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    display: none;
  }

  #programas .container{
    margin-bottom: 5%;
  }

  .card{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  footer{
    line-height: 50px;
    height: 50px;
  }

  #ResolutionImage{
    margin-left:20%;
    margin-right:20%;
    width: 60%;;
  }

  .imagenCard{
    margin-left:20%;
    margin-right:20%;
    width: 60%;
  }

  .list-group{
    margin-top: 2%;
    margin-bottom: 2%;
    padding-bottom: 7%;
    margin-left: 30%;
    margin-right: 30%;
    font-size: 1.5em;
  }

  .container{
    max-width: 90% !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
    margin-bottom: 10% !important;
  }

}

/* FORMATO PARA MOVILES */
@media screen and (min-device-width:375px) and (max-device-width:768px){
  h1{
    padding-top: 10%;
    font-size: 4em !important;
  }

  h3{
    font-size: 3em !important;
  }
  
  .titulo{
    padding-top: 2%;
    margin-bottom: 5%;
  }

  .link_desc{
    font-size: 2.75em;
    align-self: center;
  }

  #boton_inicio2{
    margin: 0.8em;
    font-size: 3em;
  }

  #boton_toggle{
    font-size: 3rem;
    margin-right: 1rem;
    box-shadow: 0px 1px 15px 0px #414345;
  }

  .nav-item{
    font-size: 2.5em;
    margin-left: 45px;
  }

  p{
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 2em;
  }

  .container{
    max-width: 90% !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
    margin-bottom: 10% !important;
  }

  #contactame .card-text{
    font-size: 2.75em;
  }

  .cardtext {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
  }

  #div-img-principal{
    padding-top: 2%;
  }

  #contactame{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    display: none;
  }

  .card{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  footer{
    line-height: 100px;
    height: 100px;
    font-size: 2.5em;
  }

  #ResolutionImage{
    margin-left:auto;
    margin-right:auto;
    width: 100%;
  }

  #googleImage{
    margin-left:auto;
    margin-right:auto;
    width: 100%;
  }

  .imagenCard{
    margin-left:auto;
    margin-right:auto;
    width: 100%;
  }

  .list-group{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 2.5em;
    padding-bottom: 10%;
  }

}

